.site-header{
	position: absolute;
	z-index: 2;
	width: 100%;
	padding: 10px 0;
	transition: background-color .3s ease-out;

	&--is-expanded{
		background-color: rgba($mainBlue, .55);
	}

	@mixin atMedium{
		background-color: rgba($mainBlue, .3);
	}

	&__btn-container{
		@mixin atMedium{
			padding-top: 10px;
			float: right;
		}
		
	}

	&__logo{
		left: 50%;
		transform: translateX(-50%) scale(.8);
		transform-origin: 50% 0;
		position: absolute;
		background-color: $mainBlue;
		padding: 25px 35px;
		top: 0;

		@mixin atMedium{
			left: auto;
			transform: translateX(0);
		}
	}

	&__logo__graphic{
		text-indent: -9999px;
	}

	&__menu-icon{
		z-index: 10;
		width: 20px;
		height: 19px;
		
		position: absolute;
		top: 10px;
		right: 10px;

		&::before{
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
		}

		&__middle{
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transition: all .3s ease-out;
			transform-origin: 0 50%;

		}

		&::after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}

		@mixin atMedium{
			display: none;
			
		}
	}

	&__menu-icon--close-x{
		&::before{
			transform: rotate(45deg) scaleX(1.25);
		}

		&::after{
			transform: rotate(-45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle{
			opacity: 0;
			transform: scaleX(0);
		}
	}

	&__menu-content{
		opacity: 0;
		transform: scale(1.2);
		transition: all .3s ease-out;
		position: relative;
		z-index: -10;
		padding-top: 90px;
		text-align: center;

		@mixin atMedium{
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			transform: scale(1);
		}

		&--is-visible{
			opacity: 1;
			z-index: 1;
			transform: scale(1);
		}
	}

}